
body{
    font-family: "Montserrat";
    font-size:1vw;
	line-height:2em;
	margin:0;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height:100vh;
    text-align: center;
    background-color: #333;
}


.container{
	overflow:hidden;

}

#main-header{
	background-color:#333;
	color:#fff;
    text-align: center;
}

#navbar{
	background-color:#333;
	color:#fff;
    
}

.navbar-list:hover {
    background-color:#666;
}

#navbar ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
}

#navbar li{
	display:inline;
}

#navbar a{  
	color:#fff;
	text-decoration: none;
	font-size: 0.9vw;
}


#main{
    margin-left: auto;
    margin-right:auto;
	width:70%;
}

.project{
    border-color:#000
    border-style: dashed;
    width:70%;
    margin-bottom: 3vw;
    font-size:0.6vw;
    border: 0.5vw dotted #ccc;
    color:#fff;
}

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
}

a{ color:#fff; }
